.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main
{
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-content: space-around;
  grid-auto-rows: minmax(100px, auto);
  grid-row-gap: 20px;
}

.movie-title
{
  font-size: 2em;
  margin: 5px 0px;
}

.movie-date
{
  margin: 0px;
}

.img-div
{
  position: relative;
}

.movie-rating
{
  position: absolute;
  margin: 0px;
  font-size: 1.5em;
  top: 5px;
  left: 10px;
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 5px;
}

.movie-overview
{
  position: absolute;
  margin: 0px;
  font-size: 1.5em;
  bottom: 5px;
  background-color: rgba(0,0,0,0.5);
  
}

@media (max-width: 1600px) 
{
  main 
  {
    grid-template-columns: repeat(2, 500px);
  }
}

@media (max-width: 1100px) 
{
  main 
  {
    grid-template-columns: 500px;
  }
}



